body {
    --color-accent: #c62828;
    --color-accent-light: #f44336;
    --color-accent-dark: #ac1c1c;
    --color-text: #0d0d0d;
    --color-text-secondary: #5c5c5c;
    --color-text-tertiary: #a6a6a6;
    --color-text-disable: #bebebe;
    --color-link: #548fe6;
    --color-link-hover: #385bb7;
    --color-text-contrast: #fff;
    --color-text-secondary-contrast: #f0f0f0;
    --color-text-tertiary-contrast: #8c8c8c;
    --color-bg-primary: #fff;
    --color-bg-secondary: #f7f7f7;
    --color-bg-tertiary: #f0f0f0;
    --color-bg-primary-contrast: #404040;
    --color-bg-secondary-contrast: #333;
    --color-bg-link: #f7f7f7;
    --color-bg-popup: rgba(0, 0, 0, 0.36);
    --color-bg-disable: #f5f5f5;
    --color-success: #67b16a;
    --color-warning: #ffae00;
    --color-info: #61a5ca;
    --color-error: #f44336;
    --color-info-light: #f0f6fa;
    --color-info-light-hover: #e4ecf1;
    --color-line: #f0f0f0;
    --color-line-border: #dfdfdf;
    --color-line-border-hover: #8c8c8c;
    --color-active: #454545;
    --color-line-contrast: #8c8c8c;
    --color-text-border: rgba(51, 51, 51, 0.3);
    --color-text-secondary-border: rgba(64, 64, 64, 0.3);
    --color-text-tertiary-border: rgba(166, 166, 166, 0.3);
    --color-link-border: rgba(84, 143, 230, 0.3);
    --color-link-hover-border: rgba(56, 91, 183, 0.3);
    --color-line-control: #c9c9c9;
    --border-radius: 8px;
    --color-status-red-bg: rgba(244, 100, 54, 0.1);
    --color-status-red-text: #bd0b0b;
    --color-status-green-bg: rgba(113, 178, 102, 0.1);
    --color-status-green-text: #468a76;
    --color-status-yellow-bg: rgba(231, 180, 0, 0.1);
    --color-status-yellow-text: #af4a11;
    --color-status-blue-bg: rgba(97, 165, 202, 0.1);
    --color-status-blue-text: #465682;
    --color-status-gray-bg: rgba(94, 94, 94, 0.1);
    --color-status-gray-text: #686868;
    --font-main: 'Roboto';
    --font-secondary: 'Roboto';
    --font-family-main: 'Roboto', 'Arial', sans-serif;
    --font-family-secondary: 'Roboto', 'Arial', sans-serif;
    --shadow-2dp: 0 8px 16px rgba(0, 0, 0, 0.08);
    --shadow-sidebar: -8px 0 8px rgba(0, 0, 0, 0.06);
}
